---
import Pomodoro from '../components/Pomodoro.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1 class="text-4xl font-bold text-center p-16"><span class="block">Focus 404</span></h1>
	<Pomodoro />
</Layout>
