---
const welcomeGif = "https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdGtsc2I3aW1nNDNvMjBsMjlldHhmaG82OHQ2amJ0d2xobG84aHN4YSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ASd0Ukj0y3qMM/giphy.gif" 
---



<div id="pomodoro-timer" class="text-center p-10 bg-white/20 rounded-lg backdrop-blur-md ">
    <h2 id="actual-status" class="text-2xl font-bold mb-4">Bienvenido</h2>
    <img src={welcomeGif} width="200" height="200" class="mx-auto mb-4 rounded-full" alt="Pomodoro Timer">
  <div id="time-display" class="text-8xl font-bold mb-4">00:03</div>
  <div class="space-x-4">
    <button id="start-pause-btn" class="px-2 py-2 hover:cursor-pointer">
        <img id="start-icon" src="/icons/play.svg" alt="Iniciar" class="h-10 w-10 mr-2 hover:cursor-pointer">
        <img id="pause-icon" src="/icons/pause.svg" alt="Pausar" class="h-10 w-10 mr-2 hover:cursor-pointer hidden">
    </button>
    <button id="reset-btn" class="px-2 py-2 hover:cursor-pointer">
        <img id="reset-icon" src="/icons/reset.svg" alt="Reset" class="h-10 w-10 mr-2 hover:cursor-pointer">
    </button>
    <button id="finish-btn" class="px-2 py-2 hover:cursor-pointer">
        <img id="finish-icon" src="/icons/finish.svg" alt="Finish" class="h-10 w-10 mr-2 hover:cursor-pointer">
    </button>
    <button id="skip-btn" class="px-2 py-2 hover:cursor-pointer">
        <img id="skip-icon" src="/icons/skip.svg" alt="Skip" class="h-10 w-10 mr-2 hover:cursor-pointer">
    </button>
  </div>
  <div id="stages" class="mt-4">
    <span class="inline-block w-4 h-4 bg-gray-300 rounded-full mr-2"></span>
    <span class="inline-block w-4 h-4 bg-gray-300 rounded-full mr-2"></span>
    <span class="inline-block w-4 h-4 bg-gray-300 rounded-full mr-2"></span>
    <span class="inline-block w-4 h-4 bg-gray-300 rounded-full mr-2"></span>
</div>

<script>

    const timeDisplay = document.getElementById("time-display") as HTMLDivElement;
    const startPauseBtn = document.getElementById("start-pause-btn") as HTMLButtonElement;
    const resetBtn = document.getElementById("reset-btn") as HTMLButtonElement;
    const finishBtn = document.getElementById("finish-btn") as HTMLButtonElement;
    const skipBtn = document.getElementById("skip-btn") as HTMLButtonElement;
    const statusDisplay = document.getElementById("actual-status") as HTMLHeadingElement;
    const startIcon = document.getElementById("start-icon") as HTMLImageElement;
    const pauseIcon = document.getElementById("pause-icon") as HTMLImageElement;

    const workTime = 3;
    const breakTime = 5;
    const superBreakTime = 10;
    const numStages = 4;

    let isRunning =  false
    let currentPhase = "work"; // "work", "break", "superBreak"
    let timeLeft = workTime;
    let timerInterval: ReturnType<typeof setTimeout>;

    let stageStatus: boolean[] = [false, false, false, false];

    const updateDisplay = () => {
        let statusText = "";
        let minutes = 0;
        let seconds = 0;

        if (currentPhase === "work") {
            statusText = "Fase de trabajo";
            minutes = Math.floor(timeLeft / 60);
            seconds = timeLeft % 60;
        } else if (currentPhase === "break") {
            statusText = "Fase de descanso";
            minutes = Math.floor(timeLeft / 60);
            seconds = timeLeft % 60;
        } else if (currentPhase === "superBreak") {
            statusText = "Fases completadas, descansa!";
            minutes = Math.floor(timeLeft / 60);
            seconds = timeLeft % 60;
        }

        statusDisplay.textContent = statusText;
        timeDisplay.textContent = `${String(minutes).padStart(2, "0")}:${String(seconds).padStart(2, "0")}`;
    }

    const updateStages = () => {
        const stages = document.getElementById("stages") as HTMLDivElement;
        const stageIndicators = stages.querySelectorAll("span");

        stageIndicators.forEach((indicator, index) => {
            if (stageStatus[index]) {
                indicator.classList.remove("bg-gray-300");
                indicator.classList.add("bg-green-500");
            } else {
                indicator.classList.remove("bg-green-500");
                indicator.classList.add("bg-gray-300");
            }
        });
    }

    const nextPhase = () => {
        if (currentPhase === "work") {
            currentPhase = "break";
            timeLeft = breakTime;
            for (let i = 0; i < stageStatus.length; i++) {
                if (!stageStatus[i]) {
                    stageStatus[i] = true;
                    break;
                }
            }
            if (stageStatus.filter(status => status).length === numStages) {
                currentPhase = "superBreak";
                timeLeft = superBreakTime;
                stageStatus = [false, false, false, false];
            }
            updateStages();
        } else if (currentPhase === "break") {
            currentPhase = "work";
            timeLeft = workTime;
        } else if (currentPhase === "superBreak") {
            currentPhase = "work";
            timeLeft = workTime;
        }
    }

    const startTimer = () => {
            isRunning = true;
            startIcon.classList.add("hidden");
            pauseIcon.classList.remove("hidden");
            timerInterval = setInterval(() => {
                timeLeft--;

                if (timeLeft <= 0) {
                    pauseTimer();
                    nextPhase();
                }

                updateDisplay();
            }, 1000);
    }

    const pauseTimer = () => {
        isRunning = false;
        pauseIcon.classList.add("hidden");
        startIcon.classList.remove("hidden");
        clearInterval(timerInterval);
    }

    const resetTimer = () => {
        isRunning = false;
        // startPauseBtn.textContent = "Iniciar";
        startIcon.classList.remove("hidden");
        pauseIcon.classList.add("hidden");
        clearInterval(timerInterval);
        if (currentPhase === "work") {
            timeLeft = workTime;
            
        } else if (currentPhase === "break") {
            timeLeft = breakTime;

        } else if (currentPhase === "superBreak") {
            timeLeft = superBreakTime;
        }

        updateDisplay();
    }

    const finishSession = () => {
        stageStatus = [false, false, false, false];
        currentPhase = "work";
        timeLeft = workTime;
        // startPauseBtn.textContent = "Iniciar";
        startIcon.classList.remove("hidden");
        pauseIcon.classList.add("hidden");
        pauseTimer();
        updateDisplay();
        updateStages();
    }

    const skipStage = () => {
        nextPhase();
        updateDisplay();
        pauseTimer();
        // startPauseBtn.textContent = "Iniciar";
        startIcon.classList.remove("hidden");
        pauseIcon.classList.add("hidden");
    }

    startPauseBtn.addEventListener("click", () => {
        if (isRunning) {
            pauseTimer();
            // startPauseBtn.textContent = "Iniciar";
        } else {
            startTimer();
            // startPauseBtn.textContent = "Pausar";
        }
    });

    resetBtn.addEventListener("click", resetTimer);

    finishBtn.addEventListener("click", finishSession);

    skipBtn.addEventListener("click", skipStage);

</script>